.area{
    position: relative;
    display: flex;
    width: var(--area-porta-largura);
    height: var(--area-porta-altura);
    flex-direction: column;
    align-items: center;
    margin: 5px;
}

.estrutura{
    display: flex;
    flex-direction: column-reverse;
    flex-grow: 1;
    border-top: 5px solid rgb(113, 135, 141);
    border-left: 5px solid rgb(113, 135, 141);
    border-right: 5px solid rgb(113, 135, 141);
    width: 90%;
    background-color: #0005;
}

.porta{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: center;
    padding: 15px;
    background-color: rgb(20, 99, 136);
}

.numero{
    font-size: 3rem;

}

.macaneta{
    position: absolute;
    top: calc(0.45 * var(--area-porta-altura));
    align-self: flex-start;
    height: 20px;
    width: 20px;
    border-radius: 10px;
    background-color: rgb(113, 135, 141);
}

.chao{
    height: 10px;
    width: 100%;
    background-color: #ddd;
}

.selecionada {
    border-top: 5px solid rgb(35, 255, 200);
    border-left: 5px solid rgb(35, 255, 200);
    border-right: 5px solid rgb(35, 255, 200);
}

.selecionada .numero{
    color: rgb(35, 255, 200);
}

.selecionada .macaneta{
    background-color: rgb(35, 255, 200);
}
